{% extends 'base/base.html' %} {% block content %} {% load template_filters %}
<style>
	.container{
		padding-left: 0;
		padding-right: 0;
		margin-left:  auto;
		margin-right: auto;
	}
</style>
<br>
<br>
<div class="container">
	<div class="row">
	<div class="userForms col-5" style="margin: auto 2em; float: left;">
			<h3> Location Filter </h3>
			<form class="form" method="post">
				{% csrf_token %} {{locationFilter.non_field_errors}} {% for form in locationFilter %}
					{{ form.label }} {{ form }} {{form.errors}} <br> {% endfor %}
				<br>
				<button class="btn btn-lg btn-primary btn-sm" type="submit">Submit</button>
			</form>
		</div>
		<div class="col-6">
			<div class="card text-white bg-dark mb-3" style="width: 30rem; margin:auto;">
				<div class="card-header" style="margin: auto">Helpful Hints</div>
				<div class="card-body" style="margin:auto;">
					<p class="card-text">Be sure to enter a valid zip code</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
