<!-- Modified: Mark Brown
	Date: 27/2/2018
	Description:
		tutorial/main page for MAUT and how to make decisions via objective input. Images and
		links will provide the user with direct help with decisions using online API databases.
-->


<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">


        <link rel="stylesheet" href="../../static/assets/css/fonticons.css">
        <link rel="stylesheet" href="../../static/assets/fonts/stylesheet.css">
        <link rel="stylesheet" href="../../static/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../static/assets/css/jquery.fancybox.css">
        <link rel="stylesheet" href="../../static/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/assets/css/magnific-popup.css">
        <!-- <link rel="stylesheet" href="../../static/assets/css/bootstrap-theme.min.css"> -->


        <!--For Plugins external css-->
        <link rel="stylesheet" href="../../static/assets/css/plugins.css" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="../../static/assets/css/style.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="../../static/assets/css/responsive.css" />

        <script src="../../static/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body data-spy="scroll" data-target=".navbar-collapse">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <div class="culmn">
            <header id="main_menu" class="header navbar-fixed-top">            
                <div class="main_menu_bg">
                    <div class="container">
                        <div class="row">
                            <div class="nave_menu">
                                <nav class="navbar navbar-default">
                                    <div class="container-fluid">
                                        <!-- Brand and toggle get grouped for better mobile display -->
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                            <a class="navbar-brand" href="#home">
                                                <img src="../../static/assets/images/maut2.png"/>
                                            </a>
                                        </div>

                                        <!-- Collect the nav links, forms, and other content for toggling -->



                                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                            <ul class="nav navbar-nav navbar-right">
                                                <li><a href="#home">HOME</a></li>
                                                <li><a href="#about">VIDEO AID</a></li>
                                                <li><a href="#tutorial">TUTORIAL</a></li>
                                                <li><a href="{% url 'index'%}">DECISIONS</a></li>
                                                <li><a href="{% url 'login' %}">SIGN IN</a></li>
                                                <li><a href="{% url 'register' %}">CREATE ACCOUNT</a></li>
                                                <li><a href="#contact">CONTACT US</a></li>
                                            </ul>


                                        </div>

                                    </div>
                                </nav>
                            </div>	
                        </div>

                    </div>

                </div>
            </header> <!--End of header -->





            <section id="home" class="home">
                <div class="overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 ">
                                <div class="main_home_slider text-center">
                                    <div class="single_home_slider">
                                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                            <h2>Multi-Attribute Utility Theory</h2>
                                            <div class="separator"></div>
                                            <p>Multi-Attribue Utility Theory or MAUT is an objective twist to making subjective decisions.</p>
                                            <div class="home_btn">
                                                <a href="" class="btn btn-primary">USELESS BUTTON</a> <!-- Make sure to link a step by step page here -->
                                            </div>

                                        </div>
                                    </div>
                                    <div class="single_home_slider">
                                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                            <h2>HINT # 2</h2>
                                            <div class="separator"></div>
                                            <p>Insert description and hint here</p>
                                            <div class="home_btn">
                                                <a href="" class="btn btn-primary">LINK BUTTON</a>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="single_home_slider">
                                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                            <h2>Hint # 3</h2>
                                            <div class="separator"></div>
                                            <p>Insert descripton and hint here</p>
                                            <div class="home_btn">
                                                <a href="" class="btn btn-primary">LINK BUTTON</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>





            <section id="about" class="about">
                <div class="container">
                    <div class="row">

                        <div class="main_about_area sections">
                            <div class="col-sm-10 col-sm-offset-1">

                                <div class="main_about_content">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="single_about_left_img text-center wow fadeInLeft" data-wow-duration=".6s">
                                                <img src="../../static/assets/images/ableft.png" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-7 wow fadeInRight" data-wow-duration="700ms">
                                            <div class="single_about_right_content">
                                                <h3>OUR STORY</h3>
                                                <p>This is Photoshop's version  of Lorem Ipsum. 
                                                    Proin gravida nibh vel velit auctor aliquet. 
                                                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,
                                                    nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus</p>

                                                <p>Morbi accumsan ipsum velit. 
                                                    Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  
                                                    mauris vitae erat consequat auctor eu in elit. 
                                                    Class aptent taciti sociosqu ad litora torquent 
                                                    per conubia nostra, per inceptos himenaeos.</p>

                                                <div class="home_btn">
                                                    <a href="" class="btn btn-primary">LEARN MORE</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>


            <section id="video" class="video text-center wow fadeIn"  data-wow-duration="2s" data-wow-dealy="1.5s">
                <div class="video_overlay">
                    <div class="container">
                        <div class="row">
                            <div class="main_video">
                                <div class="col-sm-12">
                                    <div class="icon">
                                        <a href="https://www.youtube.com/embed/cy4cX34U87Y" class="youtube-media"><img src="../../static/assets/images/play.png" alt="play-icon" /></a>
                                        <h3>MAUT VIDEO AID</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <section id="tutorial" class="service">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="main_service_area sections text-center">
                                <div class="row">
                                    <div class="head_title text-center">
                                        <h3>EXPERTISE</h3>
                                        <p>Lorem ipsum dolor sit amet proin gravida nibh vel velit</p>
                                        <div class="separator2"></div>
                                    </div>

                                    <div class="main_service_content">
                                        <div class="col-sm-4">
                                            <div class="single_service">
                                                <div class="single_service_icon">
                                                    <i class="fa fa-clock-o"></i>
                                                </div>
                                                <div class="single_service_content">
                                                    <h4>Photography</h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="single_service">
                                                <div class="single_service_icon">
                                                    <i class="fa fa-picture-o"></i>
                                                </div>
                                                <div class="single_service_content">
                                                    <h4>Photography</h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="single_service">
                                                <div class="single_service_icon">
                                                    <i class="fa fa-television"></i>
                                                </div>
                                                <div class="single_service_content">
                                                    <h4>Photography</h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="border_devider"></div>

                                        <div class="col-sm-4">
                                            <div class="single_service">
                                                <div class="single_service_icon">
                                                    <i class="fa fa-object-group"></i>
                                                </div>
                                                <div class="single_service_content">
                                                    <h4>Photography</h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="single_service">
                                                <div class="single_service_icon">
                                                    <i class="fa fa-paint-brush"></i>
                                                </div>
                                                <div class="single_service_content">
                                                    <h4>Photography</h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="single_service">
                                                <div class="single_service_icon">
                                                    <i class="fa fa-heart-o"></i>
                                                </div>
                                                <div class="single_service_content">
                                                    <h4>Photography</h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="decisions" class="team">
                <div class="video_overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="main_team sections text-center">
                                    <div class="row">
                                        <div class="head_title text-center">
                                            <h3>DECISIONS</h3>
                                            <p>You've made it this far. Now lets make a decision that is objectively subjective.</p>
                                            <div class="separator2"></div>
                                        </div>
                                        <div class="col-sm-3 col-xs-12">
                                            <div class="single_team_content">
                                                <div class="single_team_img">
                                                    <img src="../../static/assets/images/college_img.jpeg" alt="" />
                                                </div>
                                                <div class="single_team_text">
                                                    <h4>COLLEGE</h4>
                                                    <p>Need help selecting a college? Click above</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-3 col-xs-12">
                                            <div class="single_team_content">
                                                <div class="single_team_img">
													<a href ="">
                                                    <img src="../../static/assets/images/book_img.jpeg" alt="" />
													</a>
                                                </div>
                                                <div class="single_team_text">
                                                    <h4>BOOK</h4>
                                                    <p>So many books to pick from. Click here for help.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-3 col-xs-12">
                                            <div class="single_team_content">
                                                <div class="single_team_img">
													<a href ="">
                                                    <img src="../../static/assets/images/restaurant_img.jpeg" alt="" />
													</a>
                                                </div>
                                                <div class="single_team_text">
                                                    <h4>RESTAURANTS</h4>
                                                    <p>Looking for a place to dine in? Let us help you with that.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-3 col-xs-12">
                                            <div class="single_team_content">
                                                <div class="single_team_img">
												<a href="">
                                                    <img src="../../static/assets/images/custom_img.jpeg" alt="" />
												</a>
                                                </div>
                                                <div class="single_team_text">
                                                    <h4>CUSTOM DECISION</h4>
                                                    <p>Can't find what you're looking for? Create your own custom decision.</p>
                                                </div>
                                            </div>
                                        </div> <!-- End of col-sm-4 -->
                                    </div>
                                    <!-- <div class="team_hiring_area"> -->
                                        <!-- <p>Become part of our dream team, let’s join us ! </p> -->
                                        <!-- <a href="" class="btn btn-primary">we are Hiring</a> -->
                                    <!-- </div> -->
                                </div><!-- End of main team contant -->
                            </div>
                        </div><!-- End of row -->
                    </div>
                </div>
            </section>






            <section id="portfolio" class="portfolio">
                <div class="container-fluid">
                    <div class="row">
                        <div class="main_portfolio sections">
                            <div class="head_title text-center">
                                <h4>OUR WORKS</h4>
                                <a href="">See All Project in dribbble <i class="fa fa-chevron-right"></i></a>
                            </div> 

                            <div class="main_portfolio_content text-center">
                                <div class="grid">
                                    <div class="grid-item">
                                        <img src="../../static/assets/images/pf1.jpg" alt="" />
                                        <div class="grid_item_overlay all_overlay">
                                            <a href="../../static/assets/images/pf1.jpg" class="portfolio-img"> <i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                    <div class="grid-item">
                                        <img src="../../static/assets/images/pf2.jpg" alt="" />
                                        <div class="grid_item_overlay all_overlay">
                                            <a href="../../static/assets/images/pf2.jpg" class="portfolio-img"> <i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                    <div class="grid-item">
                                        <img src="../../static/assets/images/pf1.jpg" alt="" />
                                        <div class="grid_item_overlay">
                                            <a href="../../static/assets/images/pf1.jpg" class="portfolio-img"> <i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                    <div class="grid-item">
                                        <img src="../../static/assets/images/pf4.jpg" alt="" />
                                        <div class="grid_item_overlay">
                                            <a href="../../static/assets/images/pf4.jpg" class="portfolio-img"> <i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                    <div class="grid-item">
                                        <img src="../../static/assets/images/pf5.jpg" alt="" />
                                        <div class="grid_item_overlay">
                                            <a href="../../static/assets/images/pf5.jpg" class="portfolio-img"> <i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                    <div class="grid-item">
                                        <img src="../../static/assets/images/pf6.jpg" alt="" />
                                        <div class="grid_item_overlay">
                                            <a href="../../static/assets/images/pf6.jpg" class="portfolio-img"> <i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                    <div class="grid-item">
                                        <img src="../../static/assets/images/pf7.jpg" alt="" />
                                        <div class="grid_item_overlay">
                                            <a href="../../static/assets/images/pf7.jpg" class="portfolio-img"> <i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                    <div class="grid-item">
                                        <img src="../../static/assets/images/pf6.jpg" alt="" />
                                        <div class="grid_item_overlay">
                                            <a href="../../static/assets/images/pf6.jpg" class="portfolio-img"> <i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                    <div class="grid-item">
                                        <img src="../../static/assets/images/pf7.jpg" alt="" />
                                        <div class="grid_item_overlay">
                                            <a href="../../static/assets/images/pf7.jpg" class="portfolio-img"> <i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                    <div class="grid-item">
                                        <img src="../../static/assets/images/pf6.jpg" alt="" />
                                        <div class="grid_item_overlay ">
                                            <a href="../../static/assets/images/pf7.jpg" class="portfolio-img"> <i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                    <div class="grid-item">
                                        <img src="../../static/assets/images/pf7.jpg" alt="" />
                                        <div class="grid_item_overlay">
                                            <a href="../../static/assets/images/pf6.jpg" class="portfolio-img"> <i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                    <div class="grid-item">
                                        <img src="../../static/assets/images/pf1.jpg" alt="" />
                                        <div class="grid_item_overlay ">
                                            <a href="../../static/assets/images/pf1.jpg" class="portfolio-img"> <i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section id="testimonial" class="testimonial">
                <div class="video_overlay">
                    <div class="container">
                        <div class="row">
                            <div class="main_testimonial sections text-center">
                                <div class="col-md-12" data-wow-delay="0.2s">
                                    <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                                        <!-- Bottom Carousel Indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#quote-carousel" data-slide-to="0" class="active">
                                                <img class="img-responsive img-circle" src="../../static/assets/images/test2.jpg" alt="">

                                            </li>
                                            <li data-target="#quote-carousel" data-slide-to="1">
                                                <img class="img-responsive img-circle" src="../../static/assets/images/test1.jpg" alt="">

                                            </li>
                                            <li data-target="#quote-carousel" data-slide-to="2">
                                                <img class="img-responsive img-circle" src="../../static/assets/images/test2.jpg" alt="">

                                            </li>
                                        </ol>

                                        <!-- Carousel Slides / Quotes -->
                                        <div class="carousel-inner text-center">

                                            <!-- Quote 1 -->
                                            <div class="item active">
                                                <blockquote>
                                                    <div class="row">
                                                        <div class="col-sm-8 col-sm-offset-2">
                                                            <i class="fa fa-quote-left"></i>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. !</p>
                                                            <div class="single_test_author">
                                                                <h4>JANE GALADRIEL</h4>
                                                                <p>CEO TENGKUREP</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </blockquote>
                                            </div>
                                            <!-- Quote 2 -->
                                            <div class="item">
                                                <blockquote>
                                                    <div class="row">
                                                        <div class="col-sm-8 col-sm-offset-2">
                                                            <i class="fa fa-quote-left"></i>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                                                            <div class="single_test_author">
                                                                <h4>JANE GALADRIEL</h4>
                                                                <p>CEO TENGKUREP</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </blockquote>
                                            </div>
                                            <!-- Quote 3 -->
                                            <div class="item">
                                                <blockquote>
                                                    <div class="row">
                                                        <div class="col-sm-8 col-sm-offset-2">
                                                            <i class="fa fa-quote-left"></i>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. .</p>
                                                            <div class="single_test_author">
                                                                <h4>JANE GALADRIEL</h4>
                                                                <p>CEO TENGKUREP</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </blockquote>
                                            </div>
                                        </div>

                                        <!-- Carousel Buttons Next/Prev -->
                                        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                                        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section id="contact" class="contact sections">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="row">
                                <div class="contact_contant">

                                    <div class="col-sm-6">
                                        <h4>HELP US OUT</h4>
										<p> Say something useful here </p>
                                        <div class="single_contant_left">
										<form role ="form" action="" method="post">
										{%csrf_token%}											
                                                <div class="form-group">
													{{ form.contact_name.errors }}
													{{ form.contact_name }}
                                                </div>

                                                <div class="form-group">
													{{ form.contact_email.errors }}
													{{ form.contact_email }}
                                                </div>

                                                <div class="form-group">
													{{ form.content.errors }}
													{{ form.content }}
                                                </div>

                                                <div class="">
                                                    <input type="submit" value="Submit" class="btn btn-primary">
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">

                                        <div class="main_clinetslogo">
                                            <h4>OUR HAPPY CLIENT</h4>
                                            <div class="row">
                                                <div class="col-sm-6 col-xs-6"> 
                                                    <a href=""><img src="../../static/assets/images/clogo1.png" alt="" /></a>
                                                </div>
                                                <div class="col-sm-6 col-xs-6"> 
                                                    <a href=""><img src="../../static/assets/images/clogo2.png" alt="" /></a>
                                                </div>
                                                <div class="col-sm-6 col-xs-6"> 
                                                    <a href=""><img src="../../static/assets/images/clogo3.png" alt="" /></a>
                                                </div>
                                                <div class="col-sm-6 col-xs-6">
                                                    <a href=""><img src="../../static/assets/images/clogo4.png" alt="" /></a>
                                                </div>
                                                <div class="col-sm-6 col-xs-6"> 
                                                    <a href=""><img src="../../static/assets/images/clogo5.png" alt="" /></a>
                                                </div>
                                                <div class="col-sm-6 col-xs-6">
                                                    <a href=""><img src="../../static/assets/images/clogo6.png" alt="" /></a>
                                                </div>
                                                <div class="col-sm-6 col-xs-6"> 
                                                    <a href=""><img src="../../static/assets/images/clogo7.png" alt="" /></a>
                                                </div>
                                                <div class="col-sm-6 col-xs-6"> 
                                                    <a href=""><img src="../../static/assets/images/clogo8.png" alt="" /></a>
                                                </div>
                                                <div class="col-sm-6 col-xs-6">
                                                    <a href=""><img src="../../static/assets/images/clogo9.png" alt="" /></a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div> <!-- End of messsage contant-->
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <section id="footer" class="footer_widget">
                <div class="video_overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="row">
                                    <div class="main_widget">
                                        <div class="col-sm-4 col-xs-12">
                                            <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                                                <div class="footer_logo">
                                                    <img src="../../static/assets/images/logo.png" alt="" />
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                                                    nisi ut aliquip ex ea commodo consequat. </p>



                                            </div>
                                        </div>

                                        <div class="col-sm-4  col-xs-12">
                                            <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                                                <h4>OUR STUDIO</h4>
                                                <ul>
                                                    <li><a href="">
                                                            <i class="fa fa-map-marker"></i> 
                                                            <span>Ruko cucruk, Jl. Radio luar dalem jos <br />
                                                                No.12 - 13, Kalideres - Jakarta Barat <br />
                                                                11480 - Indonesia</span>
                                                        </a></li>
                                                    <li><a href=""><i class="fa fa-phone"></i> 0123 456 789 0112</a></li>
                                                </ul> 
                                            </div>
                                        </div>

                                        <div class="col-sm-4 col-xs-12">
                                            <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                                                <h4>STAY IN TOUCH</h4>

                                                <div class="footer_subcribs_area">
                                                    <form class="navbar-form navbar-left" role="search">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" placeholder="Search">
                                                            <button type="submit" class="submit_btn"></button>
                                                        </div>

                                                    </form>
                                                    <div class="flowus">
                                                        <a href=""><i class="fa fa-facebook"></i></a>
                                                        <a href=""><i class="fa fa-twitter"></i></a>
                                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                                        <a href=""><i class="fa fa-instagram"></i></a>
                                                        <a href=""><i class="fa fa-youtube"></i></a>
                                                        <a href=""><i class="fa fa-dribbble"></i></a>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="main_footer text-center">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <ul class="right_menu list-inline">
                                                <li><a href="">HELP</a></li>
                                                <li><a href="">TERMS & CONDITION</a></li>
                                                <li><a href="">PRIVACY</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="copyright_text">
                                                <p class=" wow fadeInRight" data-wow-duration="1s">Made with <i class="fa fa-heart"></i> by <a href="http://bootstrapthemes.co">Bootstrap Themes</a>2016. All Rights Reserved</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>







        </div>

        <!-- START SCROLL TO TOP  -->

        <div class="scrollup">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div>

        <script src="../../static/assets/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="../../static/assets/js/vendor/bootstrap.min.js"></script>

        <script src="../../static/assets/js/jquery.magnific-popup.js"></script>
        <script src="../../static/assets/js/jquery.mixitup.min.js"></script>
        <script src="../../static/assets/js/jquery.easing.1.3.js"></script>
        <script src="../../static/assets/js/jquery.masonry.min.js"></script>
        <script src="../../static/assets/js/jquery.fancybox.pack.js"></script>

        <script src="../../static/assets/js/plugins.js"></script>
        <script src="../../static/assets/js/main.js"></script>

    </body>
</html>
