.page-header {
    background-color: #000666;
    margin-top: 0;
    padding: 10px 10px 10px 20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 18pt;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
}